* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile img {
    border-radius: 50%;
    height: 200px;
}

.es {
    animation: go 2.4s;
}

.tes {
    animation: go-back 2.4s;
}

/* QUESTION */

.vertical-center {
    min-height: 80%;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.btn-primary {
    background-color: #F2994A;
    border: #F2994A;
    font-weight: bold;
}

/* PERFIL */

.border-b {
    border-bottom: 2px solid #F2994A;
    margin: 0 20% 0px 20%;
    padding-bottom: 5px;
}

.head {
    background: #fff;
}

.nav {
    text-align: center;
    place-items: center;
    display: grid;
}

.nav img {
    width: 60px;
}

.profi img {
    border-radius: 50%;
    width: 70%;
}

.bandeira {
    width: 20%;
}

.card-img img {
    width: 250px;
}

/* FINALLY */

.reset-width {
    height: 400px;
}

.vertical {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.bar {
    position: relative;
    fill: rgb(41, 216, 79);
    /* height: 21px; */
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    display: inline-block;
}

.bar:hover, .bar:focus {
    fill: #F2994A !important;
}

text {
    fill: #F2994A;
}

/* RESULTS */

.title {
    font-size: 36px;
    color: #F2994A;
    font-weight: bolder;
}

.space {
    margin-top: 1000px;
}

.docume {
    color: #fff;
    text-indent: 3ch;
    font-weight: bold;
    margin-top: 20px;
}

h5 {
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.bg-test {
    background-color: #F2994A;
}

.people {
    border-radius: 50%;
    width: 60%;
    border: 1px solid #F2994A;
}

.bg-primar {
    background-color: #F2994A;
    border-radius: 5px;
}

h6 {
    font-weight: bold;
}

.ha {
    color: #F2994A;
    font-weight: bold;
    font-size: 28px;
}

svg {
    width: 50%;
}

/* Ranking */

.car {
    height: 100px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #F2994A;
    margin: 50px 0;
}
.back {
    background-color: #fff;
}

.point img {
    border-radius: 50%;
    margin: 5px;
    width: 80%;

    
}

.point h6 { 
    margin-top: 30px;
}

.point p {
    margin-top: 30px;
}

.point h1 {
    margin-top: 20px;
}

.bg-ranking {
    background-color: #f1f2f3;
}

.va {
    margin-top: 100px;
}

/* ANIMATION */

@keyframes go-back {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes go {
    0% {
        transform: translateY(150px);
    }
    100% {
        transform: translateY(0);
    }
}

svg#freepik_stories-traveling:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-traveling.animated #freepik--Character--inject-19 {
    animation: 1s 1 forwards ease-out lightSpeedRight;
    animation-delay: 0s;
}

@keyframes lightSpeedRight {
    from {
        transform: translate3d(50%, 0, 0) skewX(-20deg);
        opacity: 0;
    }
    60% {
        transform: skewX(10deg);
        opacity: 1;
    }
    80% {
        transform: skewX(-2deg);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.animator-hidden {
    display: none;
}

svg#freepik_stories-personal-files:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-personal-files.animated #freepik--Character--inject-7 {
    animation: 1.5s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 0s;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: inherit;
    }
}

/* Location Page */

.location .parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.location .box {
    flex: 1 1 150px;
    margin: 2px;
}

.location img {
    border-radius: 5px;
}

.location2 .parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.location2 .box {
    flex: 1 1 150px;
    margin: 5px;
}

.text-location {
    border: 1px solid #F2994A;
    border-radius: 5px;
    padding: 5px;
}

.location2 {}