* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.profile img {
    border-radius: 50%;
    height: 200px;
}


.tes {
    animation: go-back 2.4s;
}

/* QUESTION */
.vertical-center { 
  min-height: 80%;  
  min-height: 80vh; 

  display: flex;
  align-items: center;
}

.btn-primary {
    background-color: #F2994A;
    border: #F2994A;
    font-weight: bold;
}

/* PERFIL */
.border-b {
    border-bottom: 2px solid #F2994A;
    margin: 0 20% 0px 20%;
    padding-bottom: 5px;
}

.head {
    background: #fff;
}

.nav{
    text-align: center;
    place-items: center;
    display: grid;
    
}

.nav img {
    width: 60px;
}

.profi img {
    border-radius: 50%;
    width: 70%;
}

.bandeira {
    width: 20%;
    
}

.card-img img{
    width: 250px;
}
/* FINALLY */

.reset-width {
    height: 400px;
}

.vertical {
 min-height: 100%;  
  min-height: 100vh; 

  display: flex;
  align-items: center;
}


/* RESULTS */

.bg-primar {
    background-color: #F2994A;
    border-radius: 5px;
}

h6 {
    font-weight: bold;
}

.ha{
    color: #F2994A;
    font-weight: bold;
    font-size: 28px;
}




/* ANIMATION */
@keyframes go-back {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}