<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="imagem/png" href="/img/logo.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/style/style.css">


    <title>Brackets - Feed </title>


</head>

<body>

    <header class="border sticky-top head">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="nav text-center nav">
                        <img src="/img/logo.png" alt="">
                        <h6>Brackets</h6>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="bg-ranking">
        <div class="container ">
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-7 feed-card mt-5">
                    <div class="text-center">
                        <img src="/img/paula.png" alt="" class="comment">
                        <h6>Paula Cardoso</h6>
                    </div>
                    
                    <div class="form-group m-3">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Poste alguma dica ou conte sobre sua viagem"></textarea>
                    </div>
                    <div class="row m-3">

                        <div class="col">
                            <button class="btn ">
                                🎥 Vídeo
                            </button>
                        </div>
                        
                        <div class="col">
                            <button class="btn">
                                🎵 Música
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn">
                                📸 Foto
                            </button>                    
                        </div>
                    </div>
                   
                </div>



                <div class="col-3">
                    <div class="feed-picture text-end mt-3">
                        <img src="/img/perfilfundo.png" alt="">
                    </div>
                </div>

                <div class="col-7 feed-card m-3">
                    <div class="m-3">
                        <h4>Gustavo Mendes</h4>
                        <p>
                            Pessoal, Gostaria de compartilhar com vocês uma experiência...
                        </p>
                        <p>
                            Já estava sentindo saudade de casa quando encontrei um restaurante incrível com comidas típicas do Braisil.
                        </p>
                        <p>
                            Pra quem quiser conferir :
                        </p>
                        
                        <p>
                            Calle Edgar Neville, 8, 28020 Madrid
                        </p>
                        
                        <h6 class="link"> #Espanha #Comida #Brasileira</h6>
                    </div>
                        

                    <div class="text-center m-3">
                        <img src="/img/restaurante.jpg" alt="" class="img-fluid">
                    </div>
                   
                </div>

                <div class="col-3">
                    <div class="feed-picture text-end mt-3">
                        <img src="/img/davi.jpg" alt="">
                    </div>
                </div>
                
                <div class="col-7 feed-card m-3">
                    <div class="m-3">
                        <h4>Davi Evangelista</h4>
                        <p>
                            Pessoal, Gostaria de compartilhar com vocês uma experiência...
                        </p>
                        <p>
                            Já estava sentindo saudade de casa quando encontrei um restaurante incrível com comidas típicas do Braisil.
                        </p>
                        <p>
                            Pra quem quiser conferir :
                        </p>
                
                        <p>
                            Calle Edgar Neville, 8, 28020 Madrid
                        </p>
                
                        <h6 class="link"> #Espanha #Comida #Brasileira</h6>
                    </div>
                
                
                    <div class="text-center m-3">
                        <img src="/img/bike.jpg" alt="" class="img-fluid">
                    </div>
                
                </div>
            </div>
        </div>
    </main>

    <footer class="mt-5 ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="nav text-center ">
                        <h6>Brackets</h6>
                        <p>Todos os direitos reservados ©2021</p>

                        
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>