<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="imagem/png" href="img/logo.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/style/style.css">

    <title>Question</title>
</head>

<body>





    <main>

        <section class="vertical-center ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h6>Para onde deseja ir? </h6>

                        <select class="form-select" aria-label="Default select example">
                            <option selected>Escolha uma opção</option>
                            <option value="1">Viagem nacional</option>
                            <option value="2">Para o exterior</option>
                            <option value="3">Ainda não decidi</option>
                        </select>


                        <div class="text-end tes mt-3">
                            <a href="/components/question-three.html">
                                <button class="btn btn-primary">
                                    Próximo
                                </button>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>




    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>