<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="imagem/png" href="/img/logo.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/style/style.css">


    <title>Brackets - Ranking </title>

    
</head>

<body>

    <header class="border sticky-top head">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="nav text-center nav">
                        <img src="/img/logo.png" alt="">
                        <h6>Brackets</h6>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="bg-ranking">

    <div class="container ">
        <div class="row">
            <h2 class="mt-5">
                Viajantes 
            </h2>
            <div class="row">
                <div class="col-1">
                    Posição
                </div>
                <div class="col-9">
                    Usuário
                </div>
                <div class="col-2 text-end">
                    Contribuições
                </div>
            </div>

            <div class="row mt-3 car point">
                <div class="col-1 back  text-center">
                    <h1>1</h1>
                </div>

                <div class="col-9 back point">
                    <div class="row">
                        <div class="col-2">
                            <img src="/img/perfilfundo.png" alt="">
                        </div>

                        <div class="col">
                            <h6>Gustavo Mendes</h6>
                        </div>
                    </div>
                </div>

                <div class="col-2 text-end back point">
                    <p>
                        48230
                    </p> 
                </div>
            </div>

            <div class="row mt-3 car point">
                <div class="col-1 back  text-center">
                    <h1>2</h1>
                </div>
            
                <div class="col-9 back point">
                    <div class="row">
                        <div class="col-2">
                            <img src="/img/davi.jpg" alt="">
                        </div>
            
                        <div class="col">
                            <h6>Davi Evangelista</h6>
                        </div>
                    </div>
                </div>
            
                <div class="col-2 text-end back point">
                    <p>
                        47230
                    </p>
                </div>
            </div>

            <div class="row mt-3 car point">
                <div class="col-1 back  text-center">
                    <h1>3</h1>
                </div>
            
                <div class="col-9 back point">
                    <div class="row">
                        <div class="col-2">
                            <img src="/img/vick.jpg" alt="">
                        </div>
            
                        <div class="col">
                            <h6> Victoria Prandi</h6>
                        </div>
                    </div>
                </div>
            
                <div class="col-2 text-end back point">
                    <p>
                        35230
                    </p>
                </div>
            </div>

            <div class="row mt-3 car point mb-5">
                <div class="col-1 back  text-center">
                    <h1>4</h1>
                </div>
            
                <div class="col-9 back point ">
                    <div class="row">
                        <div class="col-2">
                            <img src="/img/paula.png" alt="">
                        </div>
            
                        <div class="col">
                            <h6>Paula Cardoso</h6>
                        </div>
                    </div>
                </div>
            
                <div class="col-2 text-end back point ">
                    <p>
                        20230
                    </p>
                </div>
            </div>


        </div>
    </div>

    </section>
        

    <footer class="mt-5 ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="nav text-center ">
                        <h6>Brackets</h6>
                        <p>Todos os direitos reservados ©2021</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>